{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
<div class="container"style="margin-left: 400px;margin-top: 100px;">

<hr>

<div class="row">
	<aside class="col-sm-4">

<div class="card" >
<article class="card-body" >

<h4 class="card-title mb-4 mt-1">Sign in</h4>
<div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
	 <form method="POST" action="/login">
    <div class="form-group">
    	<label>Your email</label>
        
        <input name="email" class="form-control" placeholder="Email" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
    	
    	<label>Your password</label>
        <input class="form-control" placeholder="******" type="password" name="password">
    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox"> 
    <div class="form-group">
        <button type="submit" class="btn btn-dark"> Login  </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-sm-4">


 <body style="background-color:black;">

</body>
{% endblock %}