{% extends "base.html" %}

{% block content %}



<body style="background-color:black;">
<center>
<h1  style="color:white;" class="title">
  Grocery Search 
</h1>
</center>

<!DOCTYPE html>
<html lang="en">
	<head>
		<title> About </title>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  margin-right: 15px;
  margin-top: 15px;
  background:gray;
 
}


#firstname:hover{
  box-shadow: 0 10px 100px 0 rgba(225,0,0,0.8);
}

.container {
  padding: 2px 15px;
}
</style>



<form method="POST" action="">


<h3 style="color:white;">People</h3>
  <div class="row">
  {%for i in test%}
    <div class="colum">
      <div class="card" >
        <input type="checkbox" value="{{i.calinfo}}" id="flexCheckDefault" name ="checkbox" id="123">
        <img src="{{url_for('static',filename = 'logo.jpg')}}"alt="Avatar" style="width:100%" id="firstname">
  
          <h4><b>{{i.fame}} </b></h4> 
          
    
      </div>
    </div>
  {% endfor %}

  <div class="colum">
      <div class="card" style="height:150px;">
        
        <a href=addmore ><img src="{{url_for('static',filename = 'add.png')}}"alt="Avatar" style="width:110px; height:100px;margin-left:15px;margin-top:20px;" id="firstname"> </a>
      
           <h4><b>Add People </b></h4> 
          
    
      </div>
    </div>

  
</div>



<p></p>
<h3 style="color:white;">Savings Levels</h3>
<label style="color:white;" >
<input type="radio" name="options" id="option1" value="low"> Prioritize Budget </input><br>
<label style="color:white;" >
<input type="radio" name="options" id="option2" value="mid" > Prioritize MyPLate </input><br>

<p></p>



<h3 style="color:white;">Nutrition Priorities</h3>


  {%for i in nutri%}
  <div class="form-check form-check-inline">
 <div class="form-check">
  <input class="form-check-input" type="checkbox" value="{{i}}" id="flexCheckDefault" name ="check1">
  <label class="form-check-label" for="flexCheckDefault" style="color:white;" id="firstname">
    {{i}}
   
 
  </label>
  </div>
</div>
{% endfor %}
<p></p>













<div class="form-outline" required>
           <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label style="color:white;"  class="form-label" >Budgeting Period</label>
          <input type="text" id="form3Example1" class="form-control" placeholder="Number of Days" name = "Iteam" id="validationCustom03" required/>
          <label style="color:white;"  class="form-label" >Budget</label>
          <input type="text"  class="form-control" placeholder="Dollar" name = "Budget" id="validationCustom03" required/>
          
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
         <label style="color:white;" class="form-label" >Possible Item Repeats</label>
          <input type="text" id="form3Example2" class="form-control" placeholder="Max Number"  name = "max" id="validationCustom03" required/>
         
          
        </div>
      </div>
    </div>



    <button type="submit" class="btn bg-dark" style="color:white;">Submit</button>
    
</div>
</div>
</div>
  </form>
  
</body>

{% endblock %}