{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
    * {
        font-family: Lato;
        margin: 0;
        padding: 0;
        --transition: 0.15s;
        --border-radius: 0.5rem;
        --background: red;
        --box-shadow: red;
      }
      
      .cont-bg {
      
        padding: 1rem;
        display: flex;
        flex-direction: column;
    
      }
      
      .cont-title {
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .cont-main {
        display: flex;
        flex-wrap: wrap;
        margin-left:20px;
      }
      
      .cont-checkbox {
        width: 150px;
        height: 100px;
        border-radius: var(--border-radius);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        background: black;
        transition: transform var(--transition);
        margin-left:20px;
      }
      
      .cont-checkbox:first-of-type {
        margin-right: 0.75rem;
      }
      
      .cont-checkbox:active {
        transform: scale(0.9);
      }
      
      input {
        display: none;
      }
      
      input:checked + label {
        opacity: 1;
        box-shadow: 0 0 0 3px var(--background);
      }
      
      input:checked + label img {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
      }
      
      input:checked + label .cover-checkbox {
        opacity: 1;
        transform: scale(1);
      }
      
      input:checked + label .cover-checkbox svg {
        stroke-dashoffset: 0;
      }
      
      label {
        display: inline-block;
        cursor: pointer;
        border-radius: var(--border-radius);
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0.6;
      }
      
      label img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      
      label .cover-checkbox {
        position: absolute;
        right: 5px;
        top: 3px;
        z-index: 1;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--box-shadow);
        border: 2px solid red;
        transition: transform var(--transition),
          opacity calc(var(--transition) * 1.2) linear;
        opacity: 0;
        transform: scale(0);
      }
      
      label .cover-checkbox svg {
        width: 13px;
        height: 11px;
        display: inline-block;
        vertical-align: top;
        fill: none;
        margin: 5px 0 0 3px;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        transition: stroke-dashoffset 0.4s ease var(--transition);
        stroke-dashoffset: 16px;
      }
      
      label .info {
        text-align: center;
        margin-top: 0.2rem;
        font-weight: 600;
        font-size: 0.8rem;
      }
      .background{
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
    .background .shape{
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
            red,
            #23a2f6
        );
        left: -2px;
        top: -70px;
    }
    .shape:last-child{
        background: linear-gradient(
            to right,
            red,
            #f09819
        );
        right: -30px;
        bottom: -80px;
    }

    


</style>

<body style="background-color:white;">

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


    <form method="POST" action="">
    <h3 style="color:black;margin-top:20px;"> People you are shopping for</h3>
    <div class="cont-bg">
        <div class="cont-title">Checkbox</div>
        <div class="cont-main">
            <div class="row">
                {%for i in test%}
                  <div class="colum">
          <div class="cont-checkbox">
            <input type="checkbox" type="checkbox" value="{{i.calinfo}}" id="{{i}}" checked="true"/>
            <label for="{{i}}">
                <img src="{{url_for('static',filename = 'logo.jpg')}}"alt="Avatar" style="width:100%" id="firstname">
              <span class="cover-checkbox">
                <svg viewBox="0 0 12 10">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg>
              </span>
              <div class="info" style="color:white;">{{i.fame}} </div>
            </label>
          </div>
        </div>
    {% endfor %}

    <div class="cont-checkbox" >
        <input type="checkbox" id="myCheckbox-2" />
        <label for="myCheckbox-2">
            <a href=addmore><img src="{{url_for('static',filename = 'im.jpg')}}"alt="Avatar" style="width:100%;height:70px;" id="firstname"></a>
          <span class="cover-checkbox">
            <svg viewBox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <div class="info" style="color:white;">Add a member</div>
        </label>
      </div>
</div>
 


<div class= "row" style="margin-right:700px;">
  <h3 style="color:black;margin-top: 20px;">Prioritize On</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="options"  id="flexRadioDefault1" value="low">
    <label class="form-check-label" for="flexRadioDefault1">
        Budget
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="options"  value="high" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
        Health
    </label>
  </div>
  <div class="form-check">
    <input  class="form-check-input" type="radio" name="options"  id="flexRadioDefault3" value="mid" >
    <label class="form-check-label" for="flexRadioDefault3">
        MyPLate
    </label>
  </div>
</div>


<div style="margin-bottom:20px;">
<h3 style="color:black;">DRI Categories</h3>
<div class="row" >
  <div class="checkbox select-all" style="padding-right:40px;">
    <input id="all" type="checkbox" checked="true"/>
    <label for="all" style="color:black;">Select all</label>
  </div>
  {%for i in nutri%}
   <div class="colum" style="padding-right:30px;">
    <div class="checkbox rows">
  <input class="form-check-input" value="{{i}}" id="{{i}}" type="checkbox"  name ="check1" checked="true">
  <label for="{{i}}"  class="form-check-label" for="flexCheckDefault" style="color:black;" id="firstname" >
    {{i}}
   
 
  </label>
</div>
</div>
{% endfor %}

</div>
</div >
<script>
    $('#all').change(function(e) {
      if (e.currentTarget.checked) {
      $('.rows').find('input[type="checkbox"]').prop('checked', true);
    } else {
        $('.rows').find('input[type="checkbox"]').prop('checked', false);
      }
    });
    </script>

    <div class="form-outline" required>
        <div class="row mb-4">
   <div class="col">
     <div class="form-outline">
       <label style="color:black;"   class="form-label" >Budgeting Period</label>
       <input type="text" id="form3Example1" class="form-control" placeholder="Number of Days" name = "Iteam" id="validationCustom03" required/>
       <label style="color:black;"  class="form-label" >Budget</label>
       <input type="text"  class="form-control" placeholder="Dollar" name = "Budget" id="validationCustom03" required/>
       
     </div>
   </div>
   <div class="col">
     <div class="form-outline">
      <label style="color:black;" class="form-label" >Possible Item Repeats</label>
       <input type="text" id="form3Example2" class="form-control" placeholder="Max Number"  name = "max" id="validationCustom03" required/>
      
       
     </div>
   </div>
 </div>

 <button type="submit" class="btn bg-dark" style="color:white;">Submit</button>
 
</div>
</div>
</div>

</form>
</body>

  {% endblock %}