{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title> About </title>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>





<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #C0C0C0;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>


<body style="background-color:white;">
<center>
<h4 style="color:black;">Insufficient budget for needed nutrition</h4>
<h4 style="color:black;">Money Spent ${{mUsed[0]}}</h4>
<label for="css" style="color:black;" > {{b}}</label><br>


<div id="test">
<table id="t01">
<tr>
<th>Product that fulfill target nutrition</th>
<th>Price</th>
</tr>

{%for items in recomended:%}
    <tr> 
    <td >{{((items[0]))}}</td>
     <td >{{((items[1]))}}</td>
    </tr>
{% endfor %}
<td><h6>Total Sum </h6></td>
<td><h6>${{ mUsed[0]}}</h6></td>
</table>
</center>
</div>

<div>
<p></p>
</div>
<div class="container">
  <h2 style='color:white;'>Nutrition</h2>
  <div id="accordion">
    <div class="card">
      <div class="card-header" style="background-color:black;">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style='color:White;'> 
          Nutrition Details   ↓
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <table class="table table-striped" style:"margin-bottom: 30px;">
  <thead>
    <tr>
      <th scope="col">Categories</th>
      <th scope="col">Collected</th>
      <th scope="col">Total</th>
      
    </tr>
  </thead>
  <tbody>
  {% for key, value in stimate.items()%}
    <tr>
      <tr>
        <td >{{key}}</td>
        <td >{{value}}</td>
        <td >{{nutCal[key]}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>


     


        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
</div>

<div >






</div>


  



</body>
</html>

{% endblock %}